@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

a {
  color: aliceblue;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 5px;
}

li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #6f42c1;
  margin-right: 10px;
}

.next::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6f42c1;
  border: 3px solid white;
  box-shadow: 0 0 0 2px #6f42c1;
}


button{
  border: "1px solid #6f42c1";
}